langchain
langchain-community
langchain_experimental
langchain-openai
langchain-anthropic
langchain_chroma
langchain-cli
openai
pysqlite3-binary; sys_platform == 'linux'
tiktoken
python-dotenv
pandas
datasets
ragas
streamlit
streamlit-feedback
streamlit-extras
faiss-cpu