langchain
langchain-community
langchain_experimental
langchain-openai
langchain-anthropic
langchain_chroma
langchain-cli
openai
chromadb
pysqlite3-binary
tiktoken
python-dotenv
streamlit
streamlit-feedback
st-chat-message